.topbar {
    height: 60px;
    background: white;
    @media (max-width: 991px) {
        height: 120px;
    }
    .pages {
        max-width: 340px;
        min-width: 340px;
        @media (max-width: 991px) {
            order: 2;
        }
        @media (max-width: 767px) {
            order: 3;
        }
        @media (max-width: 575px) {
            max-width: 295px;
            min-width: 295px;
        }
        a {
            display: inline-block;
            height: 60px;
            /* line-height: 50px; */
            padding: 18px;
            border-bottom: 1px solid transparent;
            text-decoration: none;
            color: #464b50;
            @media (max-width: 575px) {
                padding: 18px 10px;
            }
            &.active {
                border-bottom: 1px solid #229bef;
                color: #229bef;
            }
        }
    }
    .search {
        @media (max-width: 991px) {
            order: 1;
        }
        .searchContainer {
            background: #f1f1f1;
            border-radius: 10px;
            height: 50px;
            margin-top: 5px;
            i-feather {
                color: #464b50;
                display: inline-block;
                margin: 10px;
                top: -5px;
                position: relative;
                @media (max-width: 575px) {
                    display: none;
                }
            }
            .seperator {
                display: inline-block;
                width: 1px;
                min-width: 1px;
                max-width: 1px;
                background: #464b50;
                height: 30px;
                vertical-align: middle;
                margin-right: 10px;
                top: -5px;
                position: relative;
                @media (max-width: 575px) {
                    display: none;
                }
            }
            mat-form-field {
                width: calc(100% - 80px);
                top: -5px;
                position: relative;
                @media (max-width: 575px) {
                    margin-left: 10px;
                }
            }
        }
    }
    .rightitems {
        @media (max-width: 991px) {
            order: 3;
            max-width: none;
            margin: 10px 0;
        }
        @media (max-width: 767px) {
            order: 2;
            min-width: 170px;
        }
        @media (max-width: 575px) {
            max-width: 110px;
            min-width: 110px;
        }
        margin: 10px 20px;
        max-width: 300px;
        min-width: 300px;
        text-align: right;
        img {
            height: 40px;
        }
    }
}

::ng-deep .mat-form-field-underline {
    display: none;
}