.container {
    width: 100%;
    max-width: 250px;
    .body {
        width: 100%;
        height: 0;
        padding-bottom: 50%;
        background: #dee4eb;
        position: relative;
        border-top-left-radius: 100% 200%;
        border-top-right-radius: 100% 200%;
        overflow: hidden;
    }
    .value {
        position: absolute;
        top: 100%;
        left: 0;
        width: inherit;
        height: 100%;
        background: #028ded;
        transform-origin: center top;
        transition: all 0.5s ease-out;
        .rounded {
            width: 5%;
            height: 10%;
            background: #028ded;
            border-radius: 100%;
            transform: translateY(-50%);
            outline: 4px solid white;
        }
    }
    .cover {
        width: 90%;
        height: 90%;
        background: white;
        position: absolute;
        bottom: 0;
        left: 5%;
        border-top-left-radius: 100% 200%;
        border-top-right-radius: 100% 200%;
    }
    .percent {
        position: absolute;
        bottom: 6px;
        width: 100%;
        text-align: center;
        font-size: 25px;
    }
}